{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "rules": {
    "max-len": [
      "warn",
      { "code": 140, "ignoreUrls": true, "ignoreTrailingComments": true }
    ]
  }
}
